*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgb(17, 17, 54);
}

button {
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  color: #fff;
}

body {
  color: white;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
}

.header {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: center;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  padding: 12rem 2rem 5rem 2rem;
}
.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  max-width: 450px;
}
.header__upper-heading-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.header__title {
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 25px;
}
.header__circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  background-color: #fff;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #0b0d17;
}
.header__circle p {
  z-index: 1;
  pointer-events: none;
}
.header__circle::after, .header__circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__circle::after {
  -webkit-animation: pulse 2s ease-out infinite;
          animation: pulse 2s ease-out infinite;
}
.header__circle::before {
  -webkit-animation: pulse 2s 1s ease-out infinite;
          animation: pulse 2s 1s ease-out infinite;
}
@-webkit-keyframes pulse {
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse {
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .header {
    background-image: url(../img/home/background-home-tablet.jpg);
  }
  .header__container {
    padding-top: 20rem;
  }
  .header__upper-heading-text {
    font-size: 2rem;
    letter-spacing: 3.38px;
  }
  .header__title {
    font-size: 15rem;
  }
  .header__text {
    font-size: 16px;
  }
  .header__intro {
    gap: 2rem;
  }
  .header__circle {
    min-width: 200px;
    min-height: 200px;
    border-radius: 100%;
  }
  .header__circle p {
    font-size: 3.2rem;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url(../img/home/background-home-desktop.jpg);
  }
  .header__container {
    padding-top: 20rem;
    max-width: 1400px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__upper-heading-text {
    font-size: 2.8rem;
    letter-spacing: 4.72px;
  }
  .header__title {
    font-size: 15rem;
  }
  .header__text {
    font-size: 18px;
  }
  .header__intro {
    gap: 3rem;
  }
  .header__circle {
    min-width: 300px;
    min-height: 300px;
    border-radius: 100%;
    -ms-flex-item-align: end;
        align-self: end;
    margin-right: 4rem;
    margin-bottom: 10rem;
  }
}
@media (max-height: 600px) {
  .header__circle {
    display: none;
  }
}
.nav-container-desktop {
  display: none;
}

.nav-container-mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 100;
}
.nav-container-mobile__menu-button {
  z-index: 15;
}
.nav-container-mobile__menu-button .menu-button-img-change {
  content: url("../img/shared/icon-close.svg");
}
.nav-container-mobile .navigation-mobile {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  padding-left: 4rem;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
}
.nav-container-mobile .navigation-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.nav-container-mobile .navigation-mobile .selected-page-mobile::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 160%;
  right: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}
.nav-container-mobile .navigation-mobile__item {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  font-size: 1.6rem;
}
.nav-container-mobile .navigation-mobile__item:hover::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 160%;
  right: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.747);
}
.nav-container-mobile .navigation-mobile__item span {
  font-weight: bold;
}
.nav-container-mobile .navigation-mobile__item a {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.nav-container-mobile .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .nav-container-mobile {
    display: none;
  }
  .nav-container-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    padding-left: 3rem;
    width: 100%;
  }
  .nav-container-desktop .navigation-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4rem 2rem;
    width: 60%;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40.7742px);
            backdrop-filter: blur(40.7742px);
  }
  .nav-container-desktop .navigation-desktop__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
  }
  .nav-container-desktop .navigation-desktop .selected-page-desktop::after {
    position: absolute;
    bottom: -4rem;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
  .nav-container-desktop .navigation-desktop__item {
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
  }
  .nav-container-desktop .navigation-desktop__item:hover::after {
    position: absolute;
    bottom: -4rem;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.747);
  }
  .nav-container-desktop .navigation-desktop__item a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 2.36px;
  }
  .nav-container-desktop .navigation-desktop__item span {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav-container-desktop .navigation-desktop::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -45%;
    height: 1px;
    width: 50%;
    background-color: #383b4b;
  }
  .nav-container-desktop .navigation-desktop__item a {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  .nav-container-desktop .navigation-desktop__item a span {
    display: inline;
    font-weight: bold;
  }
}
.destination {
  padding: 12rem 2rem 0 2rem;
  background-image: url(../img/destination/background-destination-mobile.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.destination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  gap: 3rem;
}
.destination__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.destination__images img {
  width: 50%;
}
.destination__heading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
.destination__heading span {
  font-weight: bold;
  color: rgb(88, 90, 92);
}
.destination__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.destination__nav-list .btn {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 2.36px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
.destination__nav-list .btn:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.destination__trip-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
  gap: 2rem;
}
.destination__planet-name {
  text-transform: uppercase;
  font-size: 5.6rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
}
.destination__planet-description {
  font-size: 1.5rem;
  line-height: 25px;
  color: #d0d6f9;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #383b4b;
}
.destination__distance-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.destination__distance, .destination__travel-time {
  position: relative;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #fff;
}
.destination__distance::before {
  content: "avg. distance";
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #d0d6f9;
  letter-spacing: 2.36px;
}
.destination__travel-time::before {
  content: "est. travel time";
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #d0d6f9;
  letter-spacing: 2.36px;
}

@media (min-width: 576px) {
  .destination__distance-information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destination__distance::before, .destination__travel-time::before {
    top: -70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 140%;
  }
}
@media (min-width: 576px) {
  .destination {
    background-image: url(../img/destination/background-destination-tablet.jpg);
  }
  .destination__heading {
    text-align: left;
    font-size: 2rem;
    letter-spacing: 3.38px;
  }
  .destination__container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .destination__images img {
    width: 60%;
  }
  .destination__nav-list .btn {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
  }
  .destination__planet-name {
    font-size: 8rem;
  }
  .destination__planet-description {
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }
  .destination__distance-information {
    gap: 10rem;
  }
}
@media (min-width: 998px) {
  .destination {
    background-image: url(../img/destination/background-destination-desktop.jpg);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .destination__heading {
    max-width: 1400px;
    margin: 0 auto 10rem;
    font-size: 2.8rem;
    letter-spacing: 4.72px;
  }
  .destination__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .destination__images {
    min-width: 50%;
  }
  .destination__images img {
    width: 90%;
  }
  .destination__trip-information {
    max-width: 40%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .destination__planet-name {
    font-size: 10rem;
  }
  .destination__planet-description {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    font-size: 1.8rem;
    text-align: left;
  }
  .destination__distance-information {
    gap: 10rem;
  }
  .destination__distance::before, .destination__travel-time::before {
    top: -90%;
  }
}
.crew {
  background-image: url(../img/crew/background-crew-mobile.jpg);
  padding: 12rem 2rem 0rem 2rem;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.crew__heading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
.crew__heading span {
  font-weight: bold;
  color: rgb(88, 90, 92);
}
.crew__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crew__img {
  height: clamp(50vw, 40vh, 70vw);
}
.crew__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #383b4b;
}
.crew__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.crew__button {
  padding: 1rem;
  background-color: #979797;
  border-radius: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.crew__button:hover {
  background-color: #fff;
}
.crew .selected-member {
  background-color: #fff;
}
.crew__information-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
}
.crew__member-spec {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #979797;
}
.crew__member-name {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #fff;
}
.crew__member-desc {
  font-size: 1.5rem;
  line-height: 25px;
}

@media (min-width: 768px) {
  .crew__heading {
    text-align: left;
    font-size: 2rem;
    letter-spacing: 3.38px;
    max-height: 100vh;
    overflow: hidden;
  }
  .crew__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3rem;
  }
  .crew__img {
    min-height: 50vh;
  }
  .crew__content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 50vw;
    border: none;
  }
  .crew__member-spec {
    font-size: 2.4rem;
  }
  .crew__member-name {
    font-size: 4rem;
  }
  .crew__member-desc {
    font-size: 1.6rem;
    line-height: 28px;
  }
}
@media (min-width: 998px) {
  .crew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .crew__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 1400px;
    margin: 0 auto;
    gap: 1rem;
  }
  .crew__heading {
    font-size: 2.8rem;
    margin-left: 5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .crew__content-box {
    max-width: 40%;
  }
  .crew__img {
    height: 78vh;
    -ms-flex-item-align: end;
        align-self: end;
  }
  .crew__member-spec {
    font-size: 3.2rem;
  }
  .crew__member-name {
    font-size: 5.6rem;
  }
  .crew__member-desc {
    font-size: 1.8rem;
  }
  .crew__nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 2rem;
    margin-top: 8rem;
  }
}/*# sourceMappingURL=main.css.map */