@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
.crew {
	background-image: url(../img/crew/background-crew-mobile.jpg);
	padding: 12rem 2rem 0rem 2rem;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	&__heading {
		@include m.heading-styles;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img {
		height: clamp(50vw, 40vh, 70vw);
	}
	&__content-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		padding-top: 3rem;
		border-top: 1px solid #383b4b;
	}
	&__nav-list {
		display: flex;
		gap: 2rem;
	}
	&__button {
		padding: 1rem;
		background-color: #979797;
		border-radius: 100%;
		transition: background-color 0.3s;
		&:hover {
			background-color: #fff;
		}
	}
	.selected-member {
		background-color: #fff;
	}
	&__information-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
	}
	&__member-spec {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.6rem;
		color: #979797;
	}
	&__member-name {
		font-family: 'Bellefair', serif;
		text-transform: uppercase;
		font-size: 2.4rem;
		color: #fff;
	}
	&__member-desc {
		font-size: 1.5rem;
		line-height: 25px;
	}
}
@media (min-width: 768px) {
	.crew {
		&__heading {
			text-align: left;
			font-size: 2rem;
			letter-spacing: 3.38px;
			max-height: 100vh;
			overflow: hidden;
		}
		&__container {
			flex-direction: column-reverse;
			justify-content: space-between;
			gap: 3rem;
			// min-height: 100vh;
		}
		&__img {
			min-height: 50vh;
		}
		&__content-box {
			flex-direction: column-reverse;
			justify-content: start;
			max-width: 50vw;
			border: none;
		}
		&__member-spec {
			font-size: 2.4rem;
		}
		&__member-name {
			font-size: 4rem;
		}
		&__member-desc {
			font-size: 1.6rem;
			line-height: 28px;
		}
	}
}
@media (min-width: 998px) {
	.crew {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&__container {
			flex-direction: row-reverse;
			max-width: 1400px;
			margin: 0 auto;
			gap: 1rem;
		}
		&__heading {
			font-size: 2.8rem;
			margin-left: 5rem;
			align-self: flex-start;
		}
		&__content-box {
			max-width: 40%;
		}
		&__img {
			height: 78vh;
			align-self: end;
		}
		&__member-spec {
			font-size: 3.2rem;
		}
		&__member-name {
			font-size: 5.6rem;
		}
		&__member-desc {
			font-size: 1.8rem;
		}
		&__nav{
			align-self: flex-start;
			margin-left: 2rem;
			margin-top: 8rem;
		}
	}
}
