@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
.destination {
	padding: 12rem 2rem;
	background-image: url(../img/destination/background-destination-mobile.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 2rem;
	}
	&__images {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		text-transform: uppercase;

		img {
			width: 50%;
		}
	}
	&__heading {
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: 2.7px;
		font-family: 'Barlow Condensed', sans-serif;
		span {
			font-weight: bold;
			color: rgb(88, 90, 92);
		}
	}
	&__nav-list {
		display: flex;
		justify-content: center;

		.btn {
			position: relative;
			font-size: 1.4rem;
			letter-spacing: 2.36px;
			color: c.$textColor;
			text-transform: uppercase;
			font-family: 'Barlow Condensed', sans-serif;
			&:hover::after {
				position: absolute;
				bottom: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 3px;
				background-color: #fff;
			}
		}
	}
	&__trip-information {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__planet-name {
		text-transform: uppercase;
		font-size: 5.6rem;
		font-family: 'Bellefair', serif;
		font-weight: 400;
	}
	&__planet-description {
		font-size: 1.5rem;
		line-height: 25px;
		color: c.$textColor;
		padding-bottom: 3rem;
		margin-bottom: 3rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.61);
	}
	&__distance-information {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
	&__distance,
	&__travel-time {
		position: relative;
		font-family: 'Bellefair', serif;
		text-transform: uppercase;
		font-size: 2.8rem;
	}
	&__distance::before {
		@include m.destination-distance('avg. distance');
	}
	&__travel-time::before {
		@include m.destination-distance('est. travel time');
	}
}
