@use '../abstracts/mixins' as m;
@use '../abstracts/colors' as c;
.nav-container-desktop {
	display: none;
}
.nav-container-mobile {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: 0;
	left: 0;
	padding: 2rem;
	z-index: 100;
	&__menu-button {
		z-index: 15;
		.menu-button-img-change {
			content: url('../img/shared/icon-close.svg');
		}
	}
	.navigation-mobile {
		display: none;
		position: relative;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 65%;
		height: 100vh;
		padding-left: 4rem;
		background-color: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(40.7742px);

		&__list {
			display: flex;
			position: absolute;
			top: 20%;
			width: 100%;
			flex-direction: column;
			gap: 4rem;
		}

		.selected-page-mobile {
			&::after {
				@include m.menu-hover(#fff);
			}
		}
		&__item {
			position: relative;
			font-family: 'Barlow Condensed', sans-serif;
			letter-spacing: 2.7px;
			font-size: 1.6rem;
			&:hover::after {
				@include m.menu-hover(c.$hoverMenuColor);
			}

			span {
				font-weight: bold;
			}
			a {
				width: 100%;
				text-transform: uppercase;
				text-decoration: none;
				color: white;
			}
		}
	}
	.active {
		display: flex;
	}
}
@media (min-width: 768px) {
	.nav-container-mobile {
		display: none;
	}
	.nav-container-desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		padding-left: 3rem;
		width: 100%;
		.navigation-desktop {
			display: flex;
			justify-content: center;
			padding: 4rem 2rem;
			width: 60%;
			background: rgba(255, 255, 255, 0.04);
			backdrop-filter: blur(40.7742px);
			&__list {
				display: flex;
				gap: 3rem;
			}
			.selected-page-desktop {
				&::after {
					@include m.menu-after-desktop(#fff);
				}
			}
			&__item {
				position: relative;
				font-family: 'Barlow Condensed', sans-serif;
				&:hover::after {
					@include m.menu-after-desktop(c.$hoverMenuColor);
				}
				a {
					text-transform: uppercase;
					text-decoration: none;
					font-size: 1.4rem;
					color: white;
					letter-spacing: 2.36px;
				}
				span {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.nav-container-desktop {
		.navigation-desktop {
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: -45%;
				height: 1px;
				width: 50%;
				background-color: #383b4b;
			}
			&__item {
				a {
					font-size: 1.6rem;
					letter-spacing: 2.7px;
					span {
						display: inline;
						font-weight: bold;
					}
				}
			}
		}
	}
}
