@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
.technology {
	padding: 10rem 0 2rem;
	background-image: url(../../img/technology/background-technology-mobile.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	&__img-desktop {
		display: none;
	}
	&__heading {
		@include m.heading-styles;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 2rem;
	}
	&__img {
		width: 100vw;
		// min-height: 25vh;
	}
	&__content-box {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__nav-list {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		border: 1px solid rgba(255, 255, 255);
		color: white;
		font-family: 'Bellefair', serif;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: white;
			color: #0b0d17;
		}
	}
	.selected-technology {
		background-color: white;
		color: #0b0d17;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1rem 2rem;
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
		letter-spacing: 2.38px;
		color: c.$textColor;
	}
	&__name {
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 400;
	}
	&__description {
		font-size: 1.5rem;
		line-height: 25px;
	}
}
@media (min-width: 700px) {
	.technology {
		padding-top: 12rem;
		background-image: url(../img/technology/background-technology-tablet.jpg);
		&__container {
			padding-top: 3rem;
			gap: 5rem;
		}
		&__heading {
			text-align: left;
			margin-left: 3rem;
			font-size: 2rem;
			letter-spacing: 3.38px;
		}
		&__btn {
			width: 6rem;
			height: 6rem;
			font-size: 2.4rem;
		}
		&__content-box {
			gap: 4rem;
		}
		&__text-box {
			margin: 0 auto;
			max-width: 70%;
		}
		&__title {
			letter-spacing: 2.7px;
		}
		&__name {
			font-size: 4rem;
		}
		&__description {
			font-size: 1.6rem;
			line-height: 28px;
		}
	}
}
@media (min-width: 992px) {
	.technology {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 13rem;
		background-image: url(../img/technology/background-technology-desktop.jpg);
		
		&__img {
			display: none;
		}
		&__img-desktop {
			display: block;
			min-width: 33%;
		}
		&__heading {
			font-size: 2.8rem;
			margin-left: 6rem;
		}
		&__container {
			flex-direction: row-reverse;
			gap: 10rem;
		}
		&__content-box {
			flex-direction: row;
			gap: 5rem;
			justify-content: center;
			padding-left: 3rem;
			justify-self: center;
		}
		&__text-box {
			padding: 0;
			margin: 0;
			align-items: flex-start;
			text-align: left;
			max-width: 50%;
		}
		&__btn {
			width: 80px;
			height: 80px;
			font-size: 3.2rem;
		}
		&__nav {
			display: flex;
			height: 100%;
		}
		&__nav-list {
			flex-direction: column;
		}
		&__name {
			font-size: 5.6rem;
		}
		&__description {
			font-size: 1.8rem;
			line-height: 32px;
		}
	}
}
